/* position the dropdown content */
.dropdown {
    margin-top: 2%;
    border: 1px solid;
    float: right;
    height: 68px;
    width: 241px;
}

/* show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* dropdown content (starts as hidden) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content h3 {
    margin-left: 12px;
    text-align: left;
}

/* apply button */
.dropdown-content button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #e7e7e7;
    color: black;
    border-radius: 4px;
    border: none;
    text-decoration: none;
}

/* rendered in text box template*/
.fields{
    margin: 5%;
}

/* custom triangle */
.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid grey;
    margin-top: 12%;
    margin-left: 12%;
}

.dropdown:hover .arrow-down {
    border-top: 10px solid red;
}

.opt {
    padding-left: 55px;
    position: relative;
    bottom: 12px;
}
